
.addProduct{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(95, 92, 92);
    position: fixed;
    z-index: 20;

    background-color: rgba(0, 0, 0, 0.719);
}

.addProduct .addProduct1{
    width: 28%;
    padding: 10px;
    height: 85%;
    /* box-shadow: 0 2px 10px gray ; */
    border-radius: 12px;
    display: flex;
    justify-content: center;
    background-color: white;
}
.addProduct .addProduct1 form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly;  */
    /* padding: 10px; */
    /* border: 1px solid black; */
}

.addProduct .addProduct1 form h2{
    width: 100%;
    font-size: 20px;
    padding: 10px 0px;
    /* margin-bottom: 10px; */
    text-align: center;
    /* border: 1px solid black; */

}

.addProduct .addProduct1 form .productDetails{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: column;
    padding:5px 10px;
    /* border: 1px solid black; */
}
.addProduct .addProduct1 form .productDetails label{
    /* height: 40%; */
    color: rgb(59, 59, 59);
    margin-bottom: 5px;
    padding-left:5px ;
}
.addProduct .addProduct1 form .productDetails .btn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.addProduct .addProduct1 form .productDetails .btn button{
    width: 100%;
    height: 30px;
    /* margin-top: 15px; */
    background-color: #4CAF50;
    color: white;
    border: none;

}

.addProduct .addProduct1 form .productDetails input{
    padding: 7px ;
    /* height: 5vh; */
    width: 100%;
    border-radius: 5px;
    border: 1px solid #9c9c9c;

}
.addProduct .addProduct1 form .productDetails textarea{
    /* padding-left: 5%; */
    height: 6vh;
    width: 100%;
    
}
.addProduct .addProduct1 form .productDetails textarea::placeholder{
    padding: 10px;
    
}

.addProduct .addProduct1 form .productDetails label{
    width: 90%;
}

.addProduct .addProduct1 form .productDetails select{
    height: 5vh;
    width: 100%;
    font-size: 15px;
    /* padding-left: 5%; */
    color: black;
   
    
}
.addProduct .addProduct1 form .productDetails input:hover{
    border-color: green;
}
.addProduct .addProduct1 form .productDetails select option {
    color: grey;
}
@media (max-width: 768px) {
    .addProduct .addProduct1 {
        width: 80%;
    }

    .addProduct .addProduct1 form {
        padding-left: 10px; /* Reduced padding on smaller screens */
    }

    .addProduct .addProduct1 form .productDetails input,
    .addProduct .addProduct1 form .productDetails select {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}


  
  
