
.mainbody {
    height: 75vh; 
    width: 70% !important;
    box-shadow: 0 2px 10px gray;
    margin: 20px auto;
    display: flex;
    border-radius: 10px;
    flex-wrap: wrap; 
}

.mainbody .side {
    height: 100%;
    width: 20%;
    border-right: 1px solid rgb(141, 136, 136);
    display: flex;
    justify-content: start;
}

.mainbody .side ul {
    margin-top: 50px;
    height: 75%;
    width: 100%;
    list-style: none;
    font-size: 13px;
}

.mainbody .side ul li {
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(150, 144, 144);
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(48, 43, 43);
}

.mainbody .side ul li .icon {
    margin-right: 10px;
    margin-left: 20px;
}

.mainbody .orders {
    margin-top: 25px;
    width: 68%; 
}
.mainbody .orders .arroww{
    margin: 0px 20px;
    font-size: 20px;
    color: black;
}
.mainbody .orders .ordercards {
    margin-left: 20px;
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
    flex-wrap: wrap; 
    width: 100%;
    padding-right: 15px;
}

.mainbody .orders .ordercards .text {
    margin-left: 15px;
    font-size: 13px;
}

.mainbody .orders .ordercards button {
    margin-left: auto;
    color: green;
    background-color: white;
    border: 1px solid gray;
    height: 40px;
    width: 100px;
    border-radius: 10px;
}

.mainbody .side ul :hover {
    background-color: gray;
    color: black;
}


@media (min-width: 1200px) {
    .mainbody {
        width: 60vw;
    }
}
@media (max-width : 1150px) {
    .mainbody .side{
       display: none;
    }
    .mainbody .orders{
        width: 100%;
    }
    .mainbody .orders .ordercards{
        width: 90%;
    }
}

.active{
    background-color: green !important;
    color: white !important;
}