.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f8f9fa;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 16vh;
  border: 1px solid white;
  position: sticky;
}


.nav .logo img {
  height: 50px;
  width: auto;
  border-radius: 8px;
}


.nav .container {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
  max-width: 900px;
  margin: 0 20px;
}


.nav .container .icon {
  position: absolute;
  left: 10px;
  font-size: 1.5rem;
  color: #888;
}

.nav .container .cancel {
  position: absolute;
  right: 10px;
  font-size: 1.5rem;
  color: #888;
  cursor: pointer;
}

.nav .container .cancel:hover {
  color: #333;
}


.nav .container .search {
  width: 100%;
  height: 8vh;
  padding: 8px 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.nav .container .search:focus {
  outline: none;
  border-color: #cf9165;
  box-shadow: 0 0 5px rgba(183, 123, 64, 0.5);
}


.nav .one {
  display: flex;
  align-items: center;
  background-color: #28a745;
  padding: 10px 15px;
  border-radius: 8px;
  color: #fff;
  gap: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav .one:hover {
  background-color: #218838;
}

.nav .cart {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
}

.nav .one p {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}


.cont {
  display: flex;
  justify-content: space-evenly;
  margin: 30px;
  width: 30%;
}

.cont p:hover {
  cursor: pointer;
}


.cont .container1 {
  margin: 0 10px;
  border: 1px solid gray;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: Arial, sans-serif;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cont .container1 p {
  font-size: 14px;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  color: gray;
}

.cont .container1:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-color: #c49b62;
}


.show {
  font-size: 18px;
  margin: 30px;
  font-weight: bold;
  font-family: sans-serif;
  color: #333;
  width: 50%;
}
