.sidebar {
  display: flex;
  flex-direction: column;
  width: 22%;
  height: 100%;
  overflow-y: auto !important;
  border-right: 3px solid rgb(221, 220, 220);

}
.dustbin{
  font-size: large;
  color: gray;
}
.dustbin:hover{
  /* transform: scale(0.01); */
  cursor: pointer !important;
  color: rgb(233, 31, 31);
}
.sidebar-nav ul {
  /* border: 1px solid brown; */
  width: 100%;
  /* max-height: 80vh;  */
  list-style: none;
  display: flex;
  flex-direction: column;
  /* align-items: stretch; */
  gap: 2px;
  padding: 0px 10px 0px 5px;
}

.sidebar-nav ul li {
  /* border: 1px solid blue; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.171);
  border-left: solid transparent;
  display: flex;
  height: 94px;
  width: 100%;
  color: black;
  align-items: center;
  padding: 0px 10px;
  justify-content: space-between;
  /* justify-content: stretch; */
}

.sidebar-nav a {
  /* border: 1px solid black; */
  /* border: 1px solid rgba(0, 0, 0, 0.171); */
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: 500;
  height: 13vh;
  background-color: #fff;
}

.sidebar-nav ul li img {
  /* border: 1px solid red; */
  justify-content: space-around;
  width: 50px;
  height: 60px;
  margin-left: 20px;
  object-fit: cover;
}

.sidebar-nav ul li  p {
  /* border: 1px solid blueviolet; */
  height: 30px;
  width: 160px;
  margin-left: 4%;
  font-size: 15px;
  /* font-weight:600 !important; */
}

.sidebar-nav li:hover {
  background-color: rgba(135, 207, 235, 0.288);
  border-left: solid green;
}

.sidebar::-webkit-scrollbar {
  color: #2d8e46;
  width: 10px;
}

.sidebar::-webkit-scrollbar-track {
  background: #e0f7e4; /* Light green track background */
  border-radius: 5px; /* Rounded corners for the track */
}

.sidebar::-webkit-scrollbar-thumb {
  background: #32a852; /* Green scrollbar thumb */
  border-radius: 5px; /* Rounded corners for the thumb */
}

.sidebar::-webkit-scrollbar-thumb:hover {
  background: #2d8e46; /* Darker green when hovered */
}


@media(max-width: 768px) {
  .sidebar {
    width: 100vh;
    margin-left: 0;
    margin-top: 0;
    height: auto;
  }

  .sidebar-nav ul {
    width: 100%;
    height: auto;
    gap: 5px;
  }

  .sidebar-nav ul li {
    height: auto;
    width: 250px;
  }

  .sidebar-nav a {
    font-size: 14px;
    height: auto;

  }

  .sidebar-nav img {
    width: 40px;
    height: 50px;
    margin-left: 10px;
  }

  .sidebar-nav li {
    justify-content: center;
  }

  .sidebar-nav a {
    height: auto;
    width: 100%;
    font-size: 14px;
    flex-wrap: wrap;
  }

  .sidebar-nav ul li a img {
    width: 40px;
    height: 50px;
    margin-left: 10px;
  }

  .sidebar-nav ul li a p {
    width: auto;
    font-size: 12px;
    margin-left: 5%;
  }
}

@media(max-width: 480px) {
  .sidebar-nav ul li a img {
    width: 35px; 
    height: 45px;
  }

  .sidebar-nav ul li a p {
    font-size: 10px; 
    margin-left: 5%;
  }
}