*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
.sidebar{
  /* border:1px solid red; */
    border: 1px solid rgba(0, 0, 0, 0.171);
    margin-left:5%; 
    width: 340px; 
    height:89vh; 
    background-color:white; 
    color: black; 
    display: flex;
    flex-direction: column;

}
.sidebar-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .sidebar-nav  ul li {
    border:1px solid rgba(0, 0, 0, 0.171);
    display: flex;
    height: 90px;
    width: 340px;
    color: black;
    align-items: center;
    margin: 3px 0;
    justify-content: flex-start;    
  }
  .sidebar-nav img {
    /* border: 1px solid red; */
    width: 50px; 
    height: 60px; 
    margin-right: 15px; 
  }

  
  .sidebar-nav a {
    /* border: 1px solid black; */
    width: 100px;
    height: 30px;
    text-decoration: none;
    margin-right: 2%;
    color:  black; 
    font-size: 14px;
  }
  
 
  .sidebar-nav li:hover {
    background-color:rgba(135, 207, 235, 0.288); 
    border-left: solid green;
  }
  @media only screen and (max-width: 768px) {
    .sidebar {
      width: 250px;
      margin-left: 10px;
      height: auto; 
    }
  
    
    .sidebar-nav ul li {
      height: 70px; 
      width: 250px; 
    }
  
    .sidebar-nav a {
      font-size: 12px; 
      width: auto; 
    }
  
    .sidebar-nav img {
      width: 40px; 
      height: 50px; 
      margin-right: 10px;
    }
  
    .sidebar-nav ul {
      display: flex;
      flex-direction: column;
      align-items: center; 
  
    .sidebar-nav li {
      justify-content: center; 
    }
  
    .sidebar-nav a {
      padding: 8px;
      text-align: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  .sidebar {
    width: 200px;

  .sidebar-nav ul li {
    height: 60px; 
  }

  .sidebar-nav img {
    width: 35px; 
    height: 45px;
  }

  .sidebar-nav a {
    font-size: 10px; 
  }

  .sidebar {
    margin-left: 5px;
  }
}
}