.futtor {
  width: 100%;
  height: 100%;
  padding: 14px;
  /* border: 1px solid red; */
}

.divOne {
  height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 2px;
  /* border: 1px solid red; */
}


.divTwo {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.heading h2{
  margin-top: 20px;
  font-size: large;  
}


.divTwo .text p {
  height: 10vh;
  width: 60vh;
  display: flex;
  justify-content: right;
  align-items: center;
  margin: 17px;
  font-size: medium;
  color: gray;
}


.divTwo .download {
  height: 15vh;
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: gray;
}

.divTwo img {
  height: 30px;
}


.divTwo .icon {
  height: 15vh;
  width: 70vh;
  display: flex;
  justify-content:left;
}

.divTwo .icon img {
  margin-top: 15px;
  height: 55px;
}


.divOne .usefulLink {
  height: 80vh;
  width: 40%;
}


.divOne .categories {
  height: 50vh;
  width: 60%;
}


.heading {
  height: 10%;
}

.list {
  height: 48%;
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
}

.listItem {
  height: 59%;
  width: 40%;
  color: gray;
  
}


.listItem ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1px 0;
  
}
.listItem ul li a{
  font-size: 14px;
}

.list1 {
  height: 55%;
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  /* border: 1px solid blue; */
}

.listItem1 {
  height: 59%;
  width: 40%;
  color: gray;
  
}


.listItem1 ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3px 0;
  
}
.listItem1 ul li a{
  font-size: 14px;
}



.categories .heading {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 30%;
}

.heading p {
  margin-top: 26px;
  color: green;
}


.divThree {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: gray;
  /* border: 1px solid red; */
}


@media (max-width: 1000px) {
  .futtor {
      display: none; /* Hides the footer on smaller screens */
  }
}

/* Styling for Links */
a {
  color: gray;
  text-decoration: none;
  font-size: large;
}

a:hover {
  color: green;
}
