/* Global Reset */
* {
  padding: 0;
  margin-left: 3px;
  box-sizing: border-box;
}

/* Container for the entire footer */
.futtor {
  width: 100%;
}

/* Styling for the first main div */
.divOne {
  height: 60vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Styling for the categories section */
.divTwo {
  height: 15vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}

/* Styling for the footer text */
.divTwo .text p {
  height: 10vh;
  width: 60vh;
  display: flex;
  justify-content: right;
  align-items: center;
  font-size: medium;
  color: gray;
}

/* Styling for the download section */
.divTwo .download {
  height: 15vh;
  width: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  color: gray;
}

.divTwo img {
  height: 30px;
}

/* Social media icons */
.divTwo .icon {
  height: 15vh;
  width: 70vh;
  display: flex;
  justify-content:left;
}

.divTwo .icon img {
  margin-top: 15px;
  height: 55px;
}

/* Styling for the useful links section */
.divOne .usefulLink {
  height: 80vh;
  width: 40%;
}

/* Styling for the categories section */
.divOne .categories {
  height: 130vh;
  width: 60%;
}

/* Heading styling for various sections */
.heading {
  height: 10%;
}

.list {
  height: 70%;
  display: flex;
  flex-direction: row;
}

.listItem {
  height: 100%;
  width: 40%;
  font-size: large;
  color: gray;
}

.listItem ul li {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* Styling for the categories */
.categories .heading {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  height: 10%;
  width: 30%;
}

.heading p {
  margin-top: 26px;
  color: green;
}

/* Additional footer text */
.divThree {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  color: gray;
}

/* Responsive Styles for Smaller Screens */
@media (max-width: 1000px) {
  .futtor {
      display: none; /* Hides the footer on smaller screens */
  }
}

/* Styling for Links */
a {
  color: gray;
  text-decoration: none;
  font-size: large;
}

a:hover {
  color: green;
}
