 .login {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f9fafc;
  padding: 20px;
}

.login fieldset {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

.login legend {
  text-align: center;
  display: table; 
  margin: 0 auto;
  color: #333333d8;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 0 10px;
}

.login .username,
.login .password,
.login .checkbox {
  display: flex;
  flex-direction: column; 
  gap: 8px; 
  margin-bottom: 15px;
}


.login label {
  font-size: 1rem;
  color: #333;
  font-weight: 500;
}


.login input[type="email"],
.login input[type="password"] {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  width: 100%;
}

.login input[type="email"]:focus,
.login input[type="password"]:focus {
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.2);
}


.login .checkbox {
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.login .checkbox input {
  width: auto;
  cursor: pointer;
}

.login .checkbox label {
  margin: 0;
}


.login button {
  background-color: #4caf50;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  padding: 10px 0;
  cursor: pointer;
  margin-top: 10px;
  width: 100%;
}

.login button:hover {
  background-color: #388e3c;
}


.login .register-link {
  margin-top: 15px;
  text-align: center;
}

.login .register-link p {
  color: green;
  cursor: pointer !important;
  margin: 0;
}

.login .register-link p:hover {
  text-decoration: underline;
}
