
   .overlay{
      position: 'fixed';
      top: 0;
      left: 0;
      width: '100%';
      height: '100%';
      background-color: 'rgba(0; 0; 0; 0.5)';
      display: 'flex';
      justify-content: 'center';
      align-items: 'center';
      z-index: 1000;
    }
    .overlay .popupContainer{
      background-color: '#fff';
      padding: '20px';
      border-radius: '8px';
      box-shadow: '0 4px 6px rgba(0; 0; 0; 0.1)';
      width: '300px';
      text-align: 'center';
    }
    .overlay .popupContainer .header{
      margin-bottom: '15px';
      font-size: '18px';
      font-weight: 'bold';
    }

    .overlay .popupContainer .form {
      display: 'flex';
      flex-direction: 'column';
    }
    .overlay  .popupContainer .form .label {
      margin-bottom: '8px';
      font-size: '14px';
    }
    .overlay .popupContainer .form .input {
      padding: '10px';
      margin-bottom: '10px';
      border: '1px solid #ccc';
      border-radius: '4px';
      font-size: '14px';
    }
    .overlay .popupContainer .form .error {
      color: 'red';
      font-size: '12px';
      margin-bottom: '10px';
    }
    /* .overlay .popupContainer .form .mainbuttonContainer{
      display: 'flex';
      justify-content: 'space-between';
      gap: '10px';
    } */
    .overlay .popupContainer .form .button {
      padding: '10px';
      background-color: '#4CAF50';
      color: 'white';
      border: 'none';
      border-radius: '4px';
      cursor: 'pointer';
      font-size: '14px';
      flex: 1;
    }
    .overlay .popupContainer .form .closeButton {
      padding: '10px';
      background-color: '#f44336';
      color: 'white';
      border: 'none';
      border-radius: '4px';
      cursor: 'pointer';
      font-size: '14px';
      flex: 1;
    }
 
  
