*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
   }
   
   .mainbody{
       height: 80vh;
       width: 40vw ;
       box-shadow: 0 2px 10px gray;
       margin: 0 auto;
       margin-top: 80px;
       display: flex;
       border-radius: 10px;
      
   }
   
   .mainbody .payments{
       margin-top: 45px;
   }
   .mainbody .payments .paymentscards{
       margin-top: 20px;
       margin-left: 10px;
       display: flex; 
       padding-bottom: 20px;
       border-bottom: 1px solid black;
   }
   .mainbody .payments .paymentscards .text{
       margin-left: 15px;
       font-size: 13px;
       
   }
   .mainbody .payments .paymentscards button{
    margin-left: 150px;
    color: green;
    background-color: white;
    border: 1px solid gray;
    height: 40px;
    width: 100px;
    border-radius: 10px;
   }
