/* ----- Navbar Container ----- */
.navbar1 {
    border: 1px solid rgba(0, 0, 0, 0.151);
    height: 56px;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    background-color: #fff;
    padding: 10px ;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    position: sticky;
    top: 74px;
    z-index: 5;

}

/* ----- Navbar Links ----- */
.navbar1 .nav-links {
    display: flex;
    align-items: center;
    /* gap: 17px; */
    width: 100vw;
}

.nav-links ul {
    display: flex;
    width: 90%;
    justify-content: space-around;
}

.nav-links ul li {
    list-style-type: none;
    font-size: 16px;
}

.nav-links ul li:hover{
    color: green;
    cursor: pointer;
}
/* 
.navbar1 .nav-links a {
    font-size: 16px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.575);
    font-family: Arial, Helvetica, sans-serif;
    transition: background-color 0.3s ease;
}

.navbar1 .nav-links a:hover {
    background-color: #f1f1f1;
    border-radius: 4px;
}*/


.dropdown {
    width: 70px;
    height: 40px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.575);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}

.dropdown:hover {
    background-color: #f1f1f1;
}

.dropdown option {
    font-size: 14px;
    color: #333;
    background-color: #fff;
}

 
@media (max-width: 800px) {
    .navbar1 {
        display: none; 
    }
}

@media (max-width:800px) {
   .navbar1{
    display: none;
   }
}
@media (max-width: 768px) {
    .drop-down {
        width: 85px;
        font-size: 14px;
    }
}


@media (max-width: 480px) {
    .navbar1 {
        padding: 8px;
    }

    .drop-down {
        width: 80px;
        font-size: 12px;
    }
} 
