.signup {
  width: 100vw;
  height: 100vh;
  padding: 20px;
  position: fixed;
  border-radius: 10px;
  align-items: stretch;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: white;

}

.signup fieldset {
  min-width: 400px;
  height: 90vh;
  border: 2px solid #4CAF50;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.signup legend {
  font-size: 20px;
  font-weight: bold;
  color: #4CAF50;
  padding: 0 10px;
}


.signup form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.signup label {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}


.signup input[type="text"],
.signup input[type="email"],
.signup input[type="password"],
.signup input[type="tel"] {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}


.signup input:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: #4CAF50;
}


.role-dropdown {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}

.role-dropdown label {
  font-size: 14px !important;
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
}

.role-dropdown .role {
  width: 100%;
  padding: 12px;
  font-size: 14px;
  border-radius: 5px;
  border: 2px solid #ddd;
  background-color: #f9f9f9;
  box-sizing: border-box;
}

.role-dropdown .role:focus {
  border-color: #4CAF50;
  outline: none;
  box-shadow: 0 0 5px #4CAF50;
}

.role-dropdown .role option:disabled {
  color: #ccc;
}

.role-dropdown .role option {
  padding: 10px;
  background-color: #fff;

}

.signButton button{
  border:1px solid red ;
  width: 10vw;
  padding: 12px 15px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  background-color: #4CAF50 !important;
  border: none;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;

}

.signButton :hover {
  background-color: #4CAF50 !important;
}



@media (max-width: 480px) {
  .signup {
    gap: 15px;
    padding: 10px;
  }

  .signup legend {
    font-size: 14px;
  }

  .signup input[type="text"],
  .signup input[type="email"],
  .signup input[type="password"],
  .signup input[type="tel"],
  .role select {
    font-size: 14px;
    padding: 8px;
  }

  .signup button {
    font-size: 14px;
    padding: 10px 12px;
  }

  .role-dropdown label {
    font-size: 14px;
  }

  .role-dropdown .role {
    font-size: 14px;
    padding: 10px;
  }

  .signup button {
    font-size: 14px;
    padding: 10px 12px;

  }
}