* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.mainbody {
    margin: 50px auto;
    height: 130vh; 
    width: 60vw;
    box-shadow: 0 2px 10px gray;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
}

.mainbody .orderdetailss {
    width: 70%;
    margin-top: 5px;
    border-left: 1px solid rgb(141, 136, 136);
    border-bottom: 1px solid gray;
}

.mainbody .side {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: start;
}

.mainbody .side ul {
    margin-top: 90px;
    height: 70%;
    width: 100%;
    list-style: none;
    font-size: 13px;
}

.mainbody .side ul li {
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(150, 144, 144);
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(48, 43, 43);
}

.mainbody .side ul li .icon {
    margin-right: 10px;
    margin-left: 20px;
}

.mainbody .summary {
    width: 100%;
    margin-top: 15px;
    /* margin-left: 30px; */
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    padding-left: 30px;
}

.mainbody .arrow {
    height: 50px;
    width: 55px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    background-color: white;
}

.mainbody .arrow .icon {
    height: 35px;
    width: 50px;
    border-radius: 10px;
    border: 1px solid rgb(160, 154, 154);
}

.mainbody .summary .p2 {
    margin-top: 20px;
    margin-left: 40px;
}

.mainbody .summary .details {
    display: flex;
    margin-top: 15px;
    justify-content: space-around;
}

.mainbody .summary .cards {
    display: flex;
    flex-direction: column;
}

.mainbody .summary .details img {
    border-radius: 12px;
    height: 70px;
}

.mainbody .detailshead {
    margin-top: 15px;
    margin-left: 35px;
  
}

.mainbody .details1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid gray;
    padding: 15px 30px;
}

.mainbody .details1 ul {
    list-style-type: none;
}

.mainbody .address {
    padding-top: 10px;
    padding-left: 20px;
    /* margin-left: 20px; */
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    width: 100%;
}

.mainbody .chat {
    margin-top: 15px;
    margin-left: 20px;
}

.mainbody .chat .content {
    margin-top: 10px;
    margin-left: 20px;
    display: flex;
    font-size: 18px;
}

.mainbody .chat .content .text {
    margin-left: 10px;
}
.address h2{
    font-size: 18px;
}

@media (max-width: 1220px) {
    .mainbody .side {
        display: none; 
    }

    .mainbody .orderdetailss {
        width: 100%; 
    }
}

@media (max-width: 768px) {
    .mainbody {
        width: 90vw;
    }

    .mainbody .summary .details .price {
        margin-left: 10px; 
        margin-top: 5px;
    }

    .mainbody .summary .details {
        flex-direction: column; 
        align-items: flex-start;
    }

    .mainbody .summary .details img {
        height: 50px; 
    }

    .mainbody .summary {
        margin-left: 10px;
    }
}
@media (max-width: 480px) {
    .mainbody {
        width: 95vw; 
        margin: 20px auto;
    }

    .orderdetailss {
        margin-top: 10px;
    }

    .mainbody .summary .p2 {
        margin-left: 10px;
    }

    .mainbody .summary .details .text {
        margin-left: 5px;
    }

    .mainbody .details1 {
        flex-direction: column; 
        align-items: flex-start;
    }

    .mainbody .chat .content {
        flex-direction: column;
        font-size: 14px;
    }
}
