*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
h3 , h4{
   font-size: 18px;
}
p{
    font-size: 14px;
}
.mainbody{
    margin: 50px auto;
    height: 140vh;
    width: 60vw ;
    box-shadow: 0 2px 10px gray;
    border-radius: 12px;
    display: flex;
    flex-wrap: wrap;
    overflow-wrap: ;
}
.orderdetailss{
    width: 60%;
    margin-top: 15px;
}

.mainbody .side{
    height: 100%;
    width: 30%;
    border-right: 1px solid rgb(141, 136, 136);
    display: flex;
    justify-content: start;
}

.mainbody .side ul{
    margin-top: 90px;
    height: 70%;
    width: 100%;
    list-style: none;
    font-size: 13px;
}

.mainbody .side ul li{
   
    height: 50px;
    width: 100%;
    border-top: 1px solid rgb(150, 144, 144);
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: start;
    align-items: center;
    color: rgb(48, 43, 43);
}

.mainbody .side ul li .icon{
    margin-right: 10px;
    margin-left: 20px;
}

.mainbody .summary{
    width: 100%;
    margin-top: 25px;
    margin-left: 30px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;

}
.mainbody .arrow{
    height: 50px;
    width: 55px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    background-color: white;
  
}
.mainbody .arrow .icon{
    height: 35px;
    width: 50px;
    border-radius: 10px;
    border:1px solid rgb(160, 154, 154);
}

.mainbody .summary .p2{
    margin-top: 20px;
    margin-left: 40px;
}
.mainbody .summary .details{
    display: flex;
    /* flex-direction: column; */
    margin-top: 15px;

}
.mainbody .summary .cards{
    display: flex;
    flex-direction: column;
}
.mainbody .summary .details img{
    border-radius: 12px;
    height: 70px;
}
.mainbody .summary .details .text{
    margin-left: 25px;
    margin-top: 10px;
}
.mainbody .summary .details .price{
    margin-left: 200px;
    margin-top: 10px;
}
.mainbody .detailshead{
    margin-top: 10px;
    margin-left: 35px;
 
}
.mainbody .details1{
    width: 100%; 
   margin-top: 15px;
   margin-left: 20px;
   margin-right: 20px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid gray;
   padding-bottom: 15px;
}
.mainbody .details1 ul{
    list-style-type: none;
}
.mainbody .address{
    margin-left: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
    width: 100%; 
}
.mainbody .chat{
    margin-top: 15px;
    margin-left: 20px;
}
.mainbody .chat .content{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    font-size: 18px;
}
.mainbody .chat .content .text{
    margin-left: 10px;
}

@media(max-width : 1220px){
  .mainbody .side{
    display: none;

  }
  .mainbody .orderdetailss{
    width: 100%;
   
  }
}