*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    
}
h3 , h4{
   font-size: 18px;
}
p{
    font-size: 14px;
}
.mainbody{
    margin: 50px auto;
    height: 120vh;
    width: 500px;
    box-shadow: 0 2px 10px gray;
    border-radius: 12px;

}

.mainbody .summary{
    margin-top: 20px;
    margin-left: 35px;
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    
}
.mainbody .arrow{
    height: 50px;
    width: 55px;
    border: none;
    margin-top: 20px;
    margin-left: 25px;
    background-color: white;
    
}
.mainbody .arrow .icon{
    height: 35px;
    width: 50px;
    border-radius: 10px;
    border:1px solid rgb(160, 154, 154);
}

.mainbody .summary .p2{
    margin-top: 20px;
    margin-left: 40px;
}
.mainbody .summary .details{
    display: flex;
    margin-top: 15px;

}
.mainbody .summary .details img{
    border-radius: 12px;
    height: 70px;
}
.mainbody .summary .details .text{
    margin-left: 25px;
    margin-top: 10px;
    width: 70%;
}
.mainbody .summary .details .price{
    margin-top: 10px;
}
.mainbody .detailshead{
    margin-top: 15px;
    margin-left: 35px; 
}
.mainbody .details1{
   margin-top: 15px;
   margin-left: 20px;
   margin-right: 20px;
   display: flex;
   justify-content: space-between;
   border-bottom: 1px solid gray;
   padding-bottom: 15px;
}
.mainbody .details1 ul{
    list-style-type: none;
}
.mainbody .address{
    margin-top: 15px;
    margin-left: 20px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border-bottom: 1px solid gray;
}
.mainbody .chat{
    margin-top: 15px;
    margin-left: 20px;
}
.mainbody .chat .content{
    margin-top: 20px;
    margin-left: 20px;
    display: flex;
    font-size: 18px;
}
.mainbody .chat .content .text{
    margin-left: 10px;
}